@import "reset.css";
@import "variables.css";

/* Components */
@import "components/statusBar.css";
@import "components/navBar.css";
@import "components/screenHeader.css";
@import "components/userComponent.css";
@import "components/badge.css";
@import "components/iconRow.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";

body {
    color: var(--customBlack);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mainScreen {
    margin: 0px var(--horizontalSpace);
    overflow-y: scroll;
    
}