#friendsDisplayLink {
    display: block;
    padding: 15px 0px;
    background-color: #fafafa;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 18px;
}
#friendsDisplayLink i {
    color: var(--customGray);
}
.friendsScreen__channel {
    margin-top: 25px;
    padding-top: 15px;
    border-top: var(--mainBorder);
}
.friendsScreen__channel__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--customGray);
}