.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}
.nav__li {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav__a {
    position: relative;
}
.nav__notification {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 15px;
    left: 15px;
    
    color: white;
    font-weight: 600;
}
.nav__dotNotification {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: -5px;
}