.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}
.nav__li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__a {
    position: relative;
}
.nav__notification {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.nav__dotNotification {
    top: 0;
    right: -5px;
}
.nav i {
    color: var(--customBlack);
}