.screenHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontalSpace);
    margin-bottom: 15px;
}
.screenHeader__title {
    font-size: 30px;
    font-weight: 600;
}
.screenHeader__icons span {
    margin: 0px 5px;
}
.screenHeader i {
    color: var(--customBlack);
}
.screenHeader__dotNotification {
    top: 0;
    left: 15px;
}